/* .gradient-background {
    background: linear-gradient(120deg, #5c34b8, #ff4c68, #463eb0, #23d5ab);
    background-size: 400% 400%;
    animation: smooth-transition 8s ease infinite;
} */
.body{
  background: linear-gradient(190deg, rgba(255, 199, 0, 1) 0%, rgba(255, 199, 0, 1) 10%, white 10%, white 25%, rgba(255, 199, 0, 1) 25%, rgba(255, 199, 0, 1) 36%, white 36%, white 50%, rgba(255, 199, 0, 1) 50%, rgba(255, 199, 0, 1) 60%,white 60%, white 80%, rgba(255, 199, 0, 1) 80%, rgba(255, 199, 0, 1) 90%, white 90%, white 100%);


 }
    
    /* @keyframes smooth-transition {
        0% { background-position: 0% 0%; }
        25% { background-position: 100% 0%; }
        50% { background-position: 100% 100%; }
        75% { background-position: 0% 100%; }
        100% { background-position: 0% 0%; }
    } */

  
  .profile-img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }
  .profile{
    /* border-radius: 10%; */
    height: 300px;
    width: 350px;
  }
